@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

html{overflow-y: scroll;}
html, body{
	font-family: 'Droid Sans', sans-Serif;
	font-size: 16px;
	height: 100%;
	width: 100%;
}
a{
	color: black;
	text-decoration: none;
}
h1, h2, h3 {
	font-family: 'Poiret One', sans-Serif;
	font-weight: normal;
	vertical-align: top;
}
h1 {
	font-size: 64px;
}
h2 {
	font-size: 32px;
	margin-left: 32px!important;
	overflow: hidden;
	clear: left;
}
h2 + p {
	margin-top: -20px!important;
	padding-top: 20px!important;
}
p {
	background-color: #efefef;
}
indent{
	display: block;
	margin-left: 20px;
}
[onclick]{cursor:pointer;}

#header{overflow: hidden;}
#links{clear:both;}

/* Margin and padding */
h1, h2, h3, #logo, #header, .block, .link, #header span{
	padding: 4px;
}
h1, h2, h3, #logo, #header, .block, #main p, #media>*{
	margin: 4px;
}
#main p{padding: 8px;}

.background{background-color: #efefef;}
.clickable{cursor:pointer;}

/* Project blocks */
.block {
	display: block;
	position: relative;
}
.block span {
	position: absolute;
	top: 4px;
	padding: 4px;
}
.block span.bottom {
    position: absolute;
    text-align: right;
    font-size: 12px;
    right: 4px;
    bottom: 4px;
    top: initial;
}

.block.title {
	font-family: 'Poiret One', sans-Serif;
	font-weight: normal;
}
.title .thumbnail{
	float: left;
	margin-right: 12px;
}
.link{
	display: inline-block;
	background-color: #efefef;
}

/* Header */
#header span{
	float: left;
}

/* Main */
#main{
	clear: both;
}
#main p{
	line-height: 1.4em;
	font-size: 16px;
	text-align: justify;
}
#main p a{font-weight: bold;}
#main .link{
	margin-right: 4px;
	margin-bottom: 4px;
}
#media{
	float: right;
	margin-left: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	background-color: white; /* Avoid other backgrounds under media */
}
#media>*{max-width: 420px;display:block;}
#media>*:not(:first-child){margin-top: 8px;} /* Vertical space inbetween media */
#page_links{margin-top: 28px;} /* Separate links from page body */

@media print {
	.screenonly{display:none!important;}
	#main p{font-size: 15px;}
}

@media screen {
	.printonly{display:none!important;}
	main {margin-bottom: 32px!important;}
}

/* Desktop (animation) */
@media screen and (min-width: 865px) {
	#logo .bottom, #logo .left, #logo .center{
		-webkit-transition: 128ms;
		transition: 128ms;
	}
	#logo:hover .bottom{width: 32px;}
	#logo:hover .center{y:32px;}

	.link {
		-webkit-transition: background-color 128ms;
		transition: background-color 128ms;		
	}
	.link:hover {background-color: #aaa;}

	.block.project:hover {
		margin: 2px;
		border: 2px #ccc solid;
	}
}
/* Desktop or print */
@media screen and (min-width: 865px), print {
	body {
		width: 864px;
		margin: 0 auto;
	}
	main {
		width: 864px;		
	}
	#header {
		width: 704px;
	}
	#logo, #header, #main, .block.block.project {
		float: left;
	}
	#logo, .block.project{
		width: 128px;
		height: 128px;
	}
	.block.title {
		height: 128px;
	}
	.block.title span {
		font-size: 64px;
	}
	.block.title span.bottom {
		font-size: 24px;
	}
	.block.project span {
		color: white;
		text-shadow: 0px 0px 4px black;
	}
	.block.project img {
		display: block;
		position: absolute;
	}
	.thumbnail {
		height: 128px;
		width: 128px;
	}
}

/* Mobile */
@media screen and (max-width: 864px) {
	#logo {
		width: 32px;
    position: absolute;
    top: 8px;
	}
	#media {
		max-width: 33%;
		padding-right: 8px;
	}
	#media>* {
		max-width: 100%;
	}
	.block {
		height: 64px;
	}
	.block.title span {
		font-size: 32px;
	}
	.block.title span.bottom {
		font-size: 16px;
	}
	.thumbnail {
		height: 64px;
		width: 64px;
	}
	h1 {
		margin-left: 32px;
		font-size: 32px;
	}
}
